@import "../../../src/styles/utils.scss";

.slider-container {
  position: relative;
  width: 100%;
  height: 100%; /* Можно настроить */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Плавное исчезновение */
  z-index: 1;
  animation: scale-and-rotate 35s infinite linear;
}

.slide.active {
  opacity: 1;
  z-index: 2; /* Ставим на передний план активное изображение */
}

.margin__zero {
  margin: 0 !important;
}

.HomePage {
  position: relative;
  overflow: hidden;

  &__top {
    overflow: hidden;
    position: relative;
    height: $heigth-home-page-top;
    display: flex;
    margin-bottom: $margin-bottom-home-page-desktop;

    &__title {
      @include h1;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    &__sub-title {
      @include h1;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    &__bottom {
      align-items: center;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 80px 100px;
      z-index: 2;
    }

    &__img {
      min-width: 800px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      animation: scale-and-rotate 35s infinite linear;
      transition: opacity 0.6s ease-in-out;
    }

    @keyframes scale-and-rotate {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }

    &__text {
      top: 0;
      color: $background-color;
      font-size: 32px;
      text-align: left;
    }

    &__button {
      cursor: pointer;
      text-transform: uppercase;
      height: 44px;
      width: 144px;
      outline: 0;
      color: #fff;
      background-color: rgba($color: #fff, $alpha: 0.3);
      border: solid 1px $background-color;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      @include hover(background-color, $background-color);
      @include hover(color, $black-color);
    }
  }

  &__categorys__center {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__categorys {
    position: relative;
    width: $width-page-desktop;
    margin-bottom: $margin-bottom-home-page-desktop;

    &__title {
      &__h2 {
        @include h2;
      }

      &__view-all {
        cursor: pointer;
        position: relative;
        text-decoration: none;
        color: $black-color;
        text-transform: uppercase;

        @include hoverLinks();
      }
    }

    &__category {
      display: flex;
      justify-content: left;
      margin-bottom: $margin-bottom-home-page-categorys-category-desktop;

      &__list {
        display: flex;
        list-style: none;
        text-transform: uppercase;

        & :not(:last-child) {
          margin-right: 52px;
        }

        &__item {
          display: flex;
          justify-content: left;
          align-items: center;
          width: 100px;
          width: fit-content;
        }

        &__link {
          position: relative;
          cursor: pointer;
          transition: all 0.3s;

          @include hoverLinks();

          @include activeLink();
        }
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
    }

    &__projects-list {
      display: flex;
      list-style: none;
      overflow-x: auto;

      & ::-webkit-scrollbar {
        display: none;
      }

      & :last-child {
        margin: 0;
      }

      /* Скрыть горизонтальный скролл для IE, Edge и Firefox */
      & {
        -ms-overflow-style: none; /* IE и Edge */
        scrollbar-width: none; /* Firefox */
      }

      &__button {
        cursor: pointer;
        position: absolute;
        background-size: cover;
        width: $size-button;
        height: $size-button;
        outline: 0;
        border: none;
        bottom: 30%;

        @include hover(transform, scale(1.2));

        &--left {
          background: url(../../../public/icons/ant-design_left-outlined.svg);
          left: -$margin-button;
        }

        &--right {
          background: url(../../../public/icons/ant-design_right-outlined-right.svg);
          right: -$margin-button;
        }
      }

      &__project {
        margin-right: $margin-project-tale-desktop;
        text-decoration: none;
        color: $black-color;
        position: relative;

        &::after {
          content: "";
          opacity: 0;
          display: flex;
          width: 100%;
          height: $heigth-project-img-desktop;
          background-color: rgba($black-color, 0.5);
          position: absolute;
          top: 0;
          color: #fff;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-size: 24px;
          transition: opacity 0.3s;
          margin: 0;
        }

        &:hover {
          &::after {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            opacity: 1;
          }
        }
      }

      &__img__container {
        width: $width-project-img-desktop;
        height: $heigth-project-img-desktop;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__img {
        width: $width-project-img-desktop + 70px;
        height: $heigth-project-img-desktop + 70px;
        margin-bottom: 16px;
      }

      &__title {
        @include h3;
        padding-top: 16px;
      }
    }
  }

  &__about-us__center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: $margin-bottom-home-page-desktop;
  }

  &__about-us {
    border-bottom: solid 1px $gray-color;
    border-top: solid 1px $gray-color;
    padding: $margin-project-tale-desktop * 2;
    width: $width-page-desktop;

    &__text {
      font-size: 30px;
      text-align: left;
      line-height: 45px;
      color: $gray-color;
    }
  }

  &__portfolio__center {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__portfolio {
    width: $width-page-desktop;

    .margin-bottom {
      margin-bottom: 32px;
    }

    &__button__center {
      display: flex;
      justify-content: right;
    }

    &__button {
      @include buttonContact;
    }
  }
}

.slides {
  z-index: 11111;
  display: flex;

  & :not(:last-child) {
    margin-right: 5px;
  }

  &__center {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 40px;
  }

  &__button {
    cursor: pointer;
    width: 20px;
    height: 5px;
    background-color: rgba($color: #fff, $alpha: 0.5);
    border: none;

    @include hover(background-color, #fff);

    &--active {
      background-color: $background-color;
    }
  }
}

@media (max-width: 400px) {
  .HomePage__categorys__title {
    display: block;
    &__h2 {
      margin-bottom: 24px;
    }

    &__view-all {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 750px) {
  .HomePage__categorys__title {
    display: block;
    margin-bottom: 24px;
    &__h2 {
      margin-bottom: 24px;
    }
  }

  .HomePage__portfolio__button__center {
    justify-content: center;
  }

  .HomePage__categorys__category__list {
    display: block;
  }

  .HomePage__categorys__category__list :not(:last-child) {
    margin-bottom: 16px;
  }

  .HomePage__categorys {
    width: $width-page-phone;
  }

  .HomePage__portfolio {
    width: $width-page-phone;
  }

  .HomePage__top__bottom {
    display: block;
  }

  .HomePage__top__button {
    margin-top: 46px;
  }
}

@media (min-width: 750px) and (max-width: 1180px) {
  .HomePage__categorys {
    width: $width-page-table;
  }

  .HomePage__portfolio {
    width: $width-page-table;
  }
}

@media (min-width: 1025px) {
}
