@import "../../../src/styles/utils.scss";

.Header {
  display: flex;
  width: 100%;
  height: $header-heigth;
  justify-content: space-between;
  align-items: center;
  padding: 0 $header-and-footer-padding-desktop;
  position: fixed;
  top: 0;
  background-color: $black-color;
  z-index: 11;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 1s;

  &__logo {
    width: 90px;
    height: 70px;
    background-image: url(../../../public/icons/HAB_white.svg);
    background-size: cover;
    background-repeat: no-repeat;

    @include hover(transform, scale(1.2));
  }

  &__list {
    display: flex;
    list-style: none;

    & :not(:last-child) {
      margin-right: 80px;
    }

    &__item {
      display: flex;
      align-items: center;
      width: 90px;
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      color: $background-color;
      position: relative;
      transition: all 0.3s;

      @include hoverLinksWhite();

      @include activeLinkWhite();
    }
  }

  &__language {
    & :not(:last-child) {
      margin-right: 20px;
    }

    &__link {
      cursor: pointer;
      text-decoration: none;
      color: $gray-color;
      outline: 0;
      border: 0;
      background-color: $black-color;

      &--active {
        font-weight: 500;
        color: $background-color;
      }

      &:hover {
        color: $background-color;
      }
    }
  }
}

@media (max-width: 600px) {
  .Header {
    padding: 30px $header-and-footer-padding-phone;
  }

  .phone-media {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1180px) {
  .Header {
    padding: 30px $header-and-footer-padding-phone;
  }

  .phone-media {
    display: none;
  }
}

@media (min-width: 1025px) {

}
